<section class="wrapper">
<div class="view" style="background-image: url('https://images8.alphacoders.com/815/815404.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="jumbotron text-center">
        <h1 class="h1-reponsive text-info" >All Squads <i class="fas fa-id-card"></i></h1>
        <a href="/squad-form.hbs" class="btn btn-outline-white ">Add New Squad  <i class="fas fa-user-plus animate rotateIn infinite"></i></a>
        <br>
    </div>
</div>

        <div class="list-group text-white overflow-auto">
            {{#if allSquads}}
                <ul>
                    {{#each allSquads}}
                        <li>
                            <h4 class="hero-name">{{ mName }}</h4>
                            <small><a href="">View Squad</a> </small>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <span class="label label-warning">No Squad Added Yet!</span>
            {{/if}}
        </div>
</section>
{{> layout.hbs}}